
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background: linear-gradient(to right, #4FACFE, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Container */
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Title */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Input */
input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #4facfe;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
}
